@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: rgb(81, 106, 109);
  --bg-color: rgb(242, 242, 242);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.banner-container {
    width: 35%;
    height: 100%;
    background-image: url(./images/ocean-waves.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 185px;
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
}

.banner-img {
    width: 100px;
}

.banner-title {
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
}

.signup-container {
    width: 65%;
}

.signup-text {
    height: 38%;
    background-color: var(--bg-color);
    padding: 0 200px 50px 35px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex;
    justify-content: flex-end;
    box-shadow: 0px -2px 7px -4px rgba(0,0,0,0.76) inset;
-webkit-box-shadow: 0px -2px 7px -4px rgba(0,0,0,0.76) inset;
-moz-box-shadow: 0px -2px 7px -4px rgba(0,0,0,0.76) inset;
}

.signup-text p:nth-last-child(1) {
    margin-top: 45px;
}

.signup-paragraph {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.1rem;
}

em {
    font-style: italic;
}

form {
    height: 62%;
}

.signup-form {
    height: 50%;
    padding: 15px 300px 15px 25px;
}

.form-title {
    height: 15%;
}

.inputs-container {
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.input-field {
    width: 50%;
    padding-right: 100px;
}

.input-field label {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.input-field input {
    width: 100%;
    outline: 0;
    border: 1.5px solid var(--main-color);
    border-radius: 3px;
    padding: 7px;
    font-size: 1rem;
    font-weight: 500;
}

.input-field input::placeholder {
    font-weight: 500;
    font-size: 1rem;
}

.input-field input:focus {
    outline: 0;
    border: 2px solid var(--main-color);
    box-shadow: 0px 0px 8px 1px var(--main-color);
    -webkit-box-shadow: 0px 0px 8px 1px var(--main-color);
    -moz-box-shadow: 0px 0px 8px 1px var(--main-color);
    font-size: 1rem;
    font-weight: 500;
}

.signup-confirm {
    height: 50%;
    padding: 30px 50px;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 7px -4px rgba(0,0,0,0.76) inset;
-webkit-box-shadow: 0px 2px 7px -4px rgba(0,0,0,0.76) inset;
-moz-box-shadow: 0px 2px 7px -4px rgba(0,0,0,0.76) inset;
}

.createaccount-btn {
    margin-bottom: 50px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.76);
}

.login-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.login-link {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: underline;
}